    <div class="card bg-light w-25 text-center ml-auto mr-auto">
      <div class="card-body">
        <h1 class="text-center">New Chatroom</h1>
        <br/>

        <%= form_with model: @chatroom do |f| %>
        
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Chat room name" %>
            </div>
            
            <br/>
            <div class="form-group">
                <%= f.submit "Create", class: "btn btn-primary btn-block btn-lg" %>
            </div>
        
        <% end %>
        </div>
    </div>
